<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
   <p>{{iId}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  <div>
  <form class="form-comment" id="comment-form" data-id="{{blog.Id}}"> 
        <label for="blog-comment">Comment:</label>
        <textarea class="form-input" id="blog-comment" name="comment">{{comment}}</textarea>
      {{!-- </div>
      <div class="form-group"> --}}
  <p> 
    <button class="btn btn-primary" type="submit">Submit</button>
  </p>
</form>
  </div>
</div>

<script src="/js/comments.js"></script>
