<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
    <p>Title</p>  
    <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
    </h2>
     
    <p><b>Posted by</b> {{blog.user.name}} <b>on</b> {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p><b>Content</b>
      {{blog.contents}}
    </p>
  </div><div class="col-md-7">
    <p><b>Comment</b>
      {{blog.comment}}
    </p>
  </div>
</div>
{{/each}}